@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, medium)){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($brakpoint, large)){
        @content;
    }
}

@mixin btn{
    height: 50px;
    border: none;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    box-shadow: $shadow;
}

@mixin image($x_pos){
    border-radius: 25px 25px 0 0;
    overflow: hidden;
    img{
        width: 100%;
        position: relative;
        top: $x_pos;
    }
}

@mixin vignette($img_pos: -25%){
    background: white;
    width: 335px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 25px;
    box-shadow: $shadow;
    &__img{
        height: 175px;
        @include image($img_pos);
    }
    &__texte{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__lieu{
        margin: 0px 10px 10px;
    }
        
    &__favori{
        margin-right: 30px;
        font-size: 1.3em;
        cursor: pointer;
        color: rgb(145, 145, 145);
    }


}