@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, medium)){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($brakpoint, large)){
        @content;
    }
}

@mixin btn{
    height: 50px;
    border: none;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    box-shadow: $shadow;
    min-width: 185px;
    cursor: pointer;
    &:hover{
        opacity: .8;
        box-shadow: $shadow-darker;
        transition: box-shadow 400ms, opacity 400ms;
    }
}

@mixin vignette{
    background: white;
    width: 335px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 25px;
    box-shadow: $shadow;
    cursor: pointer;
    &__texte{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__detail{
        margin: 0px 10px 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

@mixin prv_large($img_pos: -80px){
    @include vignette;
    &__img{
        height: 175px;
        border-radius: 25px 25px 0 0;
        overflow: hidden;
        img{
            width: 100%;
            position: relative;
            top: $img_pos;
        }
    }
    &__favori{
        margin-right: 30px;
        font-size: 1.3em;
        cursor: pointer;
        color: rgb(145, 145, 145);
    }
    &__new{
        width: 80px;
        font-size: 0.8em;
        font-weight: 500;
        background: $color-tertiary;
        padding: 5px;
        text-align: center;
        color: darken($color-tertiary, 40%);
        border-radius: 3px;
        position: relative;
        z-index: 1;
        top: 15px;
        left: 235px;
    }
    &__new--hidden{
        visibility: hidden;
    }
}

@mixin prv_small{
    @include vignette;
    &__tarif{
        position: relative;
        top: 15px;
        left: -15px;
        font-size: 0.8em;
        font-weight: 500;
    }
    &:active{
        background:rgb(145, 145, 145);
    }
}