$breakpoints: (
    small: 599px,
    medium: 792px,
    large: 1200px
);

$color-primary: hsl(267, 66, 60);
$color-secondary: hsl(317, 100, 74);
$color-tertiary: hsl(165, 56, 74);
$color-background: hsl(0, 0, 96);

$shadow: 1px 3px 10px grey;