footer{
    background: mix(black, $color-background, 80%);
    color: white;
    height: 195px;
    ul{
        list-style: none;
        font-size: 0.9em;
    }
    li{
        padding-bottom: 10px;
    }
    i{
        padding-right: 10px;
        font-size: 0.8em;
        width: 15px;
    }
    .fa-hands-helping{
        font-size: 0.7em;
    }
    a{
        text-decoration: none;
        color: white;
    }
}