@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
#bloc_page {
  font-family: Roboto, arial, serif;
  font-weight: 300;
  font-size: large;
  width: 375px;
  margin: auto;
}

#logo, h1 {
  font-family: Shrikhand, arial, serif;
  font-size: 1.5em;
}

.intro__titre {
  font-size: x-large;
  font-weight: bold;
}

h2 {
  font-size: 1.3em;
  margin: 0;
  padding-left: 20px;
  padding-top: 55px;
  padding-bottom: 20px;
}

h3 {
  margin: 0;
  font-size: 1em;
  padding: 15px 10px 5px 10px;
}

.btn, .saisie {
  font-family: Roboto, arial, serif;
  font-weight: 400;
  font-size: medium;
}

.footer__logo {
  font-family: Shrikhand, arial, serif;
  margin: 0;
  padding: 20px 35px 5px 35px;
}

.btn {
  height: 50px;
  border: none;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7ad9), to(#9256dc));
  background: linear-gradient(#ff7ad9, #9256dc);
  color: white;
  -webkit-box-shadow: 1px 3px 10px grey;
          box-shadow: 1px 3px 10px grey;
}

.aide ol {
  list-style: none;
  counter-reset: li;
  padding-left: 0px;
}

.aide__prev {
  counter-increment: li;
  font-weight: bold;
  font-size: 0.85em;
  background: #f6f6f6;
  margin: 20px;
  padding: 28px 20px 22px 14px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 6px 6px rgba(182, 173, 173, 0.377);
          box-shadow: 3px 6px 6px rgba(182, 173, 173, 0.377);
}

.aide__prev::before {
  padding: 3px;
  font-weight: normal;
  content: counter(li);
  display: inline-block;
  width: 1.2em;
  margin-left: -1.7em;
  margin-right: 0.5em;
  text-align: center;
  background: #9256dc;
  color: white;
  border-radius: 50%;
}

.aide__prev i {
  width: 21px;
  font-size: 1.2em;
  color: #7e7e7e;
  padding-left: 15px;
  padding-right: 25px;
}

.aide__prev--active {
  background: #f5edff;
}

.aide__prev--active i {
  color: #9256dc;
}

#form_localisation {
  width: 100%;
  height: 50px;
  background: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#form_localisation .saisie {
  border: none;
  background-color: #eaeaea;
  padding-left: 20px;
  width: 140px;
}

#logo {
  text-align: center;
}

#logo i {
  font-size: 0.7em;
  position: relative;
  left: -75px;
  cursor: pointer;
}

footer {
  background: #313131;
  color: white;
  height: 195px;
}

footer ul {
  list-style: none;
  font-size: 0.9em;
}

footer li {
  padding-bottom: 10px;
}

footer i {
  padding-right: 10px;
  font-size: 0.8em;
  width: 15px;
}

footer .fa-hands-helping {
  font-size: 0.7em;
}

#logo p {
  margin: 10px;
}

.intro {
  text-align: center;
  background: whitesmoke;
  height: 290px;
}

.intro__titre {
  font-family: Roboto, arial, serif;
  margin-top: 0px;
  padding-top: 40px;
  padding-left: 45px;
  padding-right: 45px;
}

.intro__texte {
  color: #6e6e6e;
  margin-top: -15px;
  margin-bottom: 30px;
}

.aide {
  margin-bottom: 70px;
}

.restaurant {
  background: whitesmoke;
  height: 1225px;
}

.vignette1, .vignette3, .vignette4 {
  background: white;
  width: 335px;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 25px;
  -webkit-box-shadow: 1px 3px 10px grey;
          box-shadow: 1px 3px 10px grey;
  cursor: pointer;
}

.vignette1__img, .vignette3__img, .vignette4__img {
  height: 175px;
  border-radius: 25px 25px 0 0;
  overflow: hidden;
}

.vignette1__img img, .vignette3__img img, .vignette4__img img {
  width: 100%;
  position: relative;
  top: -25%;
}

.vignette1__texte, .vignette3__texte, .vignette4__texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vignette1__lieu, .vignette3__lieu, .vignette4__lieu {
  margin: 0px 10px 10px;
}

.vignette1__favori, .vignette3__favori, .vignette4__favori {
  margin-right: 30px;
  font-size: 1.3em;
  cursor: pointer;
  color: #919191;
}

.vignette2 {
  background: white;
  width: 335px;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 25px;
  -webkit-box-shadow: 1px 3px 10px grey;
          box-shadow: 1px 3px 10px grey;
  cursor: pointer;
}

.vignette2__img {
  height: 175px;
  border-radius: 25px 25px 0 0;
  overflow: hidden;
}

.vignette2__img img {
  width: 100%;
  position: relative;
  top: -85%;
}

.vignette2__texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vignette2__lieu {
  margin: 0px 10px 10px;
}

.vignette2__favori {
  margin-right: 30px;
  font-size: 1.3em;
  cursor: pointer;
  color: #919191;
}

img {
  width: 375px;
}
/*# sourceMappingURL=main.css.map */