#logo p{
    margin: 10px;
}

.intro{
    text-align: center;
    background: $color-background;
    height: 290px;
    &__titre{
        font-family: Roboto, arial, serif;
        margin-top: 0px;
        padding-top: 40px;
        padding-left: 45px;
        padding-right: 45px;
    }
    &__texte{
        color: mix(black, $color-background, 55%);
        margin-top: -15px;
        margin-bottom: 30px;
    }
}

.aide{
    margin-bottom: 70px;
}

#restaurant{
    background: $color-background;
    height: 1225px;
}

.vignette1, .vignette3, .vignette4{
    @include prv_large;
}

.vignette2{
    @include prv_large(-180px);
}