@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($brakpoint, desktop)){
        @content;
    }
}

@mixin olli {
    background: rgb(246, 246, 246);
    margin: 20px;
    padding: 20px 20px 20px 14px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px black;
    &::marker{
        color: red;
    }
}